<!DOCTYPE html>
<html>
<head>
    <title>Sensor Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Sensor Data</h1>
    <div id="graph">{{ graph|safe }}</div>
    <h2>Last 5 Data Entries</h2>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>PM2.5</th>
            <th>PM10</th>
            <th>ESP Name</th>
        </tr>
        {% for data in last_5_data %}
        <tr>
            <td>{{ data.timestamp }}</td>
            <td>{{ data.pm25 }}</td>
            <td>{{ data.pm10 }}</td>
            <td>{{ data.esp_name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>